*{
    box-sizing: border-box;
    padding: 0;
    margin: 0em;
    /* padding-left: 0.4em; */

}


/* h2 {

    padding: 20px 30px;
    color: green;
    text-decoration: underline;
    font-family: 'JetBrains Mono';
    background-color: #a2ffff;
    display: inline-block;
    text-align: center;
    margin-bottom: 1em;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 60% 15%;
    border: 5px solid blue;
    box-shadow:10px 15px 15px  black ;

}

p.green {
    font-size: 1em;
    font-family: 'JetBrains Mono';
    /* background-color: cadetblue; 

} 
*/

.container{
    width:  500px;
    height: 500px;
    margin: 1em;
    /* padding: 1em; */
    background-color: blueviolet;
    position: relative;
}

.box{
    width:80px;
    height: 80px;
    font-size: 20px;
    font-family: JetBrains Mono;
    display: block;
    position: absolute;
    /* position: static; */
} 


.box:hover{
	box-shadow:5px 5px 5px 10px black ;

}

.caja1{
    background-color: orange;
    top: 0;
    
}
.caja2{
    background-color: orangered;
    right: 0;
    /* position: sticky; */

}


.caja3{
    background-color: lightseagreen;
    bottom: 0;
	
    /* border: 5px solid blue;
    outline: 5px solid red; */
    /* position: fixed; */
    overflow: hidden;

}
.caja4{
    background-color: greenyellow;
    bottom: 0;
    right: 0;
}

.caja5{
    background-color: yellow;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
}
